<?xml version="1.0" encoding="UTF-8"?>

<manifest package="embedded.cse.cau.ac.kr.embedded" xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>


    -<application android:theme="@style/AppTheme" android:supportsRtl="true" android:roundIcon="@mipmap/ic_launcher_round" android:label="@string/app_name" android:icon="@mipmap/ic_launcher" android:allowBackup="true">

    <activity android:name=".MainActivity"> </activity>

    <activity android:name=".IntroActivity"> </activity>
    <activity android:name=".LoginMultiActivity"/>

    <activity android:name=".RankingActivity"/>


    -<activity android:name=".GetNameActivity">


    -<intent-filter>

    <action android:name="android.intent.action.MAIN"/>


    <category android:name="android.intent.category.LAUNCHER"/>

</intent-filter>

</activity>

    <activity android:name=".MultiActivity"/>

    <activity android:name=".SingleActivity"/>

</application>

</manifest>